.gallery-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;

    .initial-image {
        width: 100%;
        height: 150px;
        border-radius: 5px;
    }

    .image-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;

        .smaller-image {
            width: 50%;
            margin-top: 10px;
            border-radius: 5px;
            height: 90px;
        }
    }

    h2 {
        text-transform: capitalize;
    }
}
